@charset "utf-8";

body {
    background: #eee;
}

.grid-wrapper {
    margin: 10px;
    border: 10px #333 solid;
}

.grid {
    margin: 0;
    padding: 0;
    display: flex;
    align-content: center;
    background: fff;
    flex-wrap: wrap;
}

.grid-col-1 {
    display: flex;
    justify-content: center;
}

.grid-col-1 > .grid-item {
    width: 16%;
}

.grid-col-2 > .grid-item {
    width: 50%;
    text-align: center;
}
.grid-col-4 > .grid-item {
    width: 25%;
}

.grid-item {
    list-style: none;
    padding: 10px 10px;
    position: relative;
}
.grid-image {
    padding: 10px;
    width: 100%;
    border-radius: 15%;
}
.grid-col-2 .grid-image {
    width: 50%;
}
.image-index {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: white;
}