@charset "utf-8";

body {
    font-family: "Noto Sans JP",
            "Helvetica Neue",
            "Helvetica",
            "Hiragino Sans",
            "Hiragino Kaku Gothic ProN",
            "Arial",
            "Yu Gothic",
            "Meiryo",
            sans-serif;
        font-size: 15px;
        line-height: 1.5;
        background-color: #1d2a37;
        color: #ffffff;
}
.section {
    width: 50%;
    background-color: #2c3743;
    padding: 10px 20px;
    margin: 15px auto 0;
    border-radius: 5px;
    border: 2px solid #8f7575;
}
.login-wrapper {
    width: 95%;
    margin: 0 auto;
    padding: 10px 0;
}
.section-headline {
    margin: 0;
    margin-bottom: 15px;
    font-weight: bold;
}

.form-table {
    text-align: left;
}

.form-table,
.form-table tbody,
.form-table tr,
.form-table th,
.form-table td {
    display: block;
}
.form-table th {
    margin: 10px 0;
}
input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #fafafbdc;
    border: none;
}

#form-button {
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    background-color: #1f3ef0;
    padding: 10px 0;
    border-radius: 5px;
    border: none;
    margin: 10px 0;
}

.message {
    margin: 10px 0;
    color: #bcb9b9;
}

.message a {
    font-weight: bold;
    color: #4963f5;
}